@import '~NodeModulesPath/tachyons-sass/tachyons';

.board-container {
  @media screen and (orientation:landscape) {
    height: calc(100vh - 64px);
    width: calc(100vh - 64px);
  }
  @media screen and (orientation:portrait) {
    height: calc(100vw);
    width: calc(100vw);
  }
}

.cell {
  &:not(:last-child) {
    border-right: 1px solid $white;
  }
}

.board__row {
  &:not(:last-child) {
    .cell {
      border-bottom: 1px solid $white;
    }
  }
}

.game-result {
  i {
    font-size: 15vw;
  }
}