@import "~StylesPath/variables";

.slider__label--outer {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  background-color: $main_color;
  position: absolute;
  transform: rotate(-45deg);
  top: -50px;
  left: -14px;
}

.slider__label--inner {
  transform: rotate(45deg);
  color: $bg_main;
  text-align: center;
  position: relative;
  top: 10px;
  right: 0px;
  font-size: 16px;
}